@(message: String, style: String = "scala") 

@defining(play.core.PlayVersion.current) { version =>

<section id="top">
  <div class="wrapper">
    <h1><a href="https://playframework.com/documentation/@version/Home">@message</a></h1>
  </div>
</section>

<div id="content" class="wrapper doc">
<article>

  <h1>Boolean Algebra Server</h1>

  <p>
    Your server process offering the algebraic transformation as a service is now ready.
    This page will help you with the next few steps.
  </p>

  <h2>Sample DNF Request</h2>

  <pre><code>curl -X POST \
    http://localhost:9000/getDNF \
    -H 'Content-Type: application/json' \
    -d '{
      "_type": "And",
      "e1": {
        "_type": "Or",
        "e1": {
          "symbol": "X1",
          "_type": "Variable"
        },
        "e2": {
          "symbol": "Y1",
          "_type": "Variable"
        }
      },
      "e2": {
        "symbol": "X3",
        "_type": "Variable"
      }
    }'</code></pre>

  <h2>Sample CNF Request</h2>

  <pre><code>curl -X POST \
    http://localhost:9000/getCNF \
    -H 'Content-Type: application/json' \
    -d '{
      "_type": "And",
      "e1": {
        "_type": "Or",
        "e1": {
          "symbol": "X1",
          "_type": "Variable"
        },
        "e2": {
          "symbol": "Y1",
          "_type": "Variable"
        }
      },
      "e2": {
        "symbol": "X3",
        "_type": "Variable"
      }
    }'</code></pre>

</article>

</div>
}
